.root {
    position: relative;
    padding: 40px;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    cursor: pointer;
}

.icon {
    position: absolute;
    right: 30px;
    width: 15px;
}